
.first-color { 
	background: #222831; 
}

.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #00adb5; 
}

.fourth-color { 
	background: #eeeeee; 
}

.primary-text-color { 
	color: #212121; 
}

.secondary-text-color { 
	color: #757575; 
}

.divider-color { 
	color: #BDBDBD; 
}

.icon-color { 
	color: #000000; 
}
